INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
.deps
.libs
*.la
*.lo
clutter-cairo/cluttercairo.c
clutter-gst/cluttergst.c
clutter-gtk/cluttergtk.c
*.pyc
clutter/clutter-types.defs
clutter/clutter.c
clutter/clutter.defs
clutter/cogl-types.defs
clutter/cogl.c
clutter/cogl.defs
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
docs/html
docs/reference/builddate.xml
docs/reference/entities.docbook
docs/style.css
install-sh
libtool
ltmain.sh
missing
py-compile
pyclutter-[0-9]\.[0-9].pc
pyclutter.pc
stamp-h1
